<div class='message'>
  <div class='upper-massage'>
    <div class='message-user'>
      <%= messages.user.name %>
    </div>
    <div class="message-date">
      <%= messages.create_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <% messages.content%>
    </div>
  </div>
</div>