<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
    <div class="chatroom1">
      <a href>chatroom1</a>
    </div>
    <div class="chatroom2">
      <a href>chatroom2</a>
    </div>
    <div class="chatroom3">
      <a href>chatroom3</a>
    </div>
  </ul>
</div>